#introWell{
	height: 444px;
	width: 560px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 0, 0, 0.6);
	position: fixed;
}
#introVid{
	position: relative;
}
#endframe{
	position: relative;
	top: 0px;
	display: none;
}
.btn-intro{
	background-color: rgba(0, 0, 0, 0);
	color: #fff;
	position: absolute;
	border: 0px;
}
#btn-intro-ort1{
	position: absolute;
	left: 50%;
	top: 50%;
}
#btn-intro-ort2{
	position: absolute;
	left: 20%;
	bottom: 10%;
}
.intro-btn-wrp{
	display: none;
}
