.section {
	background-color: rgba(255, 0, 0, 0.7);
	margin-left: 10px;
	margin-right: 10px;
	color: #fff;
}
.section-inner {
	padding: 10px;
	background-color: white;
	color: black;
}
.srctxt {
	display: none;
}
.karl {
	font-family: 'Waiting for the Sunrise', cursive;
}
#platzhalter {
	height: 1000px;
}
#map {
	height: 100%;
}