#introCol{
	width: 100vh;
}
#introVid{
	height: 100%;
	width: 100%;
}
#introBtn{
	background-color: rgba(255, 0, 0, 1);
	color: #fff;
	display: none;
	position: relative;
}
.btn-intro{
	position: absolute;
}
