.srctxt {
	display: none;
}
.panel {
	border-color: red; 
	background-color: rgba(255, 255, 255, 0.95);
}
.hans {
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 20px;
	font-weight: bold;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}